.slider{
    width: 100%;
    position: relative;

}
.slider div img{
    width:100%;
}
@media screen and (max-width: 768px) {
    h1{
        font-size:1.8em;
    }
}
@media (max-width: 575px) {
    .slider div .content{
        color: #ffffff;
        z-index: 10;
        padding: 5px 0 5px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        text-overflow: ellipsis;
    }
    .slider .title{
        font-size: 1.2em;
        font-weight: bold;
    }
    .slider .description{
        font-size: 0.8em;
        text-overflow: ellipsis;
    }
}
@media (min-width: 576px) {

    .slider div .content{
        color: #ffffff;
        z-index: 10;
        padding: 8px 0 8px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        text-overflow: ellipsis;
    }
    .slider .title{
        font-size: 1.3em;
        font-weight: bold;
    }
    .slider .description{
        font-size: 1em;
        text-overflow: ellipsis;
    }
}

@media (min-width: 768px) {

    .slider div .content{
        color: #ffffff;
        z-index: 10;
        padding: 12px 0 12px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        text-overflow: ellipsis;
    }
    .slider .title{
        font-size: 1.7em;
        font-weight: bold;
    }
    .slider .description{
        font-size: 1.2em;
        text-overflow: ellipsis;
    }
}

@media (min-width: 992px) {
    .slider div .content{
        color: #ffffff;
        z-index: 10;
        padding: 20px 0 20px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
        text-overflow: ellipsis;
    }
    .slider .title{
        font-size: 1.9em;
        font-weight: bold;
    }
    .slider .description{
        font-size: 1.4em;
        text-overflow: ellipsis;
    }
}

@media (min-width: 1200px) {
    .slider div .content{
        color: #ffffff;
        z-index: 10;
        padding: 20px 0 20px 0;
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.4);
    }
    .slider .title{
        font-size: 2em;
        font-weight: bold;
    }
    .slider .description{
        font-size: 1.3em;
        text-overflow: ellipsis;
    }
}
.content p{
    text-align: justify;
}
.content img{
    max-width: 100%;
    margin-bottom: 10px;
}
ul.roles {
    list-style-type: none;
    margin:0;
    padding: 0;
}
ul.roles ul{
    list-style-type: none;
    margin-left:2em;
    padding: 0;
}
.ra-nav-index{
    z-index: 2000;
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease;
}
.profilePict{
    position: relative;
}
.profilePict .control{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.pict{
    position: relative;
}
.pict .control{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.pict:hover .control {
    opacity: 1;
}
.pict:hover .control .text {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: hand;
    cursor: pointer;
}
.profilePict:hover .control {
    opacity: 1;
}
.profilePict:hover .control .text {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: hand;
    cursor: pointer;
}
.ra-nav{
    z-index: 2000;
    position: fixed;
    top:0;
    width: 100%;
}
.ra-nav-index a{
    color: #FFFFFF;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}
.ra-nav a{
    color: darkgrey;
}
.page .container{
    padding: 10px;
}
.container {
    font-size: 1.2em;
}
#overlay {
    position: absolute; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 3; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
#overlay .text{
    position: absolute;
    top: 55%;
    left: 50%;
    color: lightgray;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    font-size: 1.5em;
}
ul.catList ul{
    list-style-type: none;
    margin-left:0;
    padding-left: 2em;
}
ul.catList{
    list-style-type: none;
    margin-left:0;
    padding-left: 0;
}
.row.vdivide > [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}
.modal .modal-v-lg{
    width: 90% !important;
    max-width: 90% !important;
}
.crop {
    overflow: hidden;
    max-height: 100px;
    padding: 3px;
    border: 1px dashed #cccccc;
}
.crop img {
    height: auto;
    width: 300px;
}
.media-insert{
    max-height: 80% !important;
    overflow-y: auto;
}
.media-insert img{
    max-height: calc(100vh - 225px); !important;
}

/* sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    z-index: 2500;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.64);
    padding: 20px;
    display: none;
}
/*footer*/
.footer-distributed{
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 14px sans-serif;

    padding: 55px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 40%;
}

/* The company logo */

.footer-distributed h3{
    color:  #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}

.footer-distributed h3 span{
    color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}

.footer-distributed .footer-center i{
    background-color:  #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #5383d3;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 20%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #33383b;
    border-radius: 2px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

    .footer-distributed{
        font: bold 14px sans-serif;
    }

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

