<div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">
        <a class="breadcrumb-item" href="{{ url('/dashboard') }}">Main Dashboard</a>
        <a class="breadcrumb-item" href="{{ url('/profile') }}">Profile</a>
        <a class="breadcrumb-item active" href="{{ url('/profile/setting') }}">Setting</a>
    </nav>
</div><!-- br-pageheader -->
<div class="pd-x-20 pd-sm-x-30 pd-t-20 pd-sm-t-30">
    <h4 class="tx-gray-800 mg-b-5">Pengaturan Akun</h4>
    <p class="mg-b-0">Ubah Pengaturan Akun</p>
</div>

<div class="br-pagebody">

    - silent here -

</div>